# Copied to ".env" (git-ignored) and loaded by rootutils at start-up.
# Hydra configs can read variables with ${oc.env:MY_VAR}.
# PROJECT_ROOT is set automatically from the location of .project-root.
# WANDB_API_KEY=...
